.btn {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;

  padding: 10px 30px;

  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #007bff;

  cursor: pointer;
  background-color: #007bff;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  line-height: 1.5;
  text-align: center;
}

.btn:active,
.btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}