.container {
    margin: 50px auto;
    width: 600px;
    border: 1px solid black;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 10px 40px 18px rgba(0,0,0,0.50);
    padding: 20px;
}