.list__item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    clear: both;
    font-size: 16px;
    font-weight: bold;
}

.list__item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.list__number{
    font-size: 18px;
    font-weight: normal;
    margin-left: 20px;
}

.list__btn {
    float: right;
    padding: 7px;
    cursor: pointer;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
}